.card {
  padding: 0;
  text-align: center;
  max-width: 50%;
  margin: 2% auto;
}

.card-title {
  font-size: 30px;
}

.form {
  margin-top: 2%;
}

.em {
  font-weight: bold;
}

.remove-btn {
  margin: 2%;
}
